<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/calender.css" type="text/css">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <title>Чемпионат</title>
</head>

<body>
    <!-- ХЕДЕР -->
    <%- include(header)%>

    <!-- Основная часть сайта-->
    <div class="main-fluid container-fluid">
        <div class="main-container container">
            <div class="content row">
                <!-- часть с новостями-->
                <div class="content-schedule col-8">
                    <h4>Формула 1, сезон 2024: Календарь чемпионата</h4>
                    <div class="championship-image">
                        <img src="/images/calendar.jpeg" id="main-image">
                    </div>
                    <div class="schedule-table-сontainer">
                        <table class="schedule-table">
                            <tbody>
                            <tr class="firstLine">
                                <td>Дата</td>
                                <td colspan="2">Гран При</td>
                                <td>Трасса</td>
                                <td>Длина</td>
                                <td>Круги</td>
                                <td>Дистанция</td>
                                <td>Победитель</td>
                                <td>Команда</td>
                            </tr>
                            <tr class="lineOne" onmouseout="this.className='lineOne';" onmouseover="this.className='lineSelected';">
                                <td>02/03</td>
                                <td><img alt="Гран При Бахрейна" height="16" src="//cdn.f1ne.ws/userfiles/BAH.gif" title="Гран При Бахрейна" width="26"></td>
                                <td>Бахрейн</td>
                                <td>Cахир</td>
                                <td>5412 м</td>
                                <td>57</td>
                                <td>308,238</td>
                                <td>М.Ферстаппен</td>
                                <td>Red Bull</td>
                            </tr>
                            <tr>
                                <td>09/03</td>
                                <td><img alt="Гран При Саудовской Аравии" height="16" src="//cdn.f1ne.ws/userfiles/Flag_of_Saudi_Arabia-2.gif" title="Гран При Саудовской Аравии" width="26"></td>
                                <td>Саудовская Аравия</td>
                                <td>Джидда</td>
                                <td>6174 м</td>
                                <td>50</td>
                                <td>308,450</td>
                                <td>М.Ферстаппен</td>
                                <td>Red Bull</td>
                            </tr>
                            <tr class="lineOne" onmouseout="this.className='lineOne';" onmouseover="this.className='lineSelected';">
                                <td>24/03</td>
                                <td><img alt="" height="16" src="//cdn.f1ne.ws/userfiles/AUS(1).gif" title="" width="26"></td>
                                <td>Австралия</td>
                                <td>Мельбурн</td>
                                <td>5278 м</td>
                                <td>58</td>
                                <td>306,124</td>
                                <td>К.Сайнс</td>
                                <td>Ferrari</td>
                            </tr>
                            <tr>
                                <td>07/04</td>
                                <td><img alt="" height="16" src="//cdn.f1ne.ws/userfiles/JPN.gif" title="" width="26"></td>
                                <td>Япония</td>
                                <td>>Сузука</td>
                                <td>5807 м</td>
                                <td>53</td>
                                <td>307.471</td>
                                <td>М.Ферстаппен</td>
                                <td>Red Bull</td>
                            </tr>
                            <tr>
                                <td>21/04</td>
                                <td><img alt="" src="//cdn.f1ne.ws/userfiles/CHN.gif" style="width: 26px; height: 16px;" title=""></td>
                                <td>Китай *</td>
                                <td>Шанхай</td>
                                <td>5451 м</td>
                                <td>56</td>
                                <td>305.066</td>
                                <td>М.Ферстаппен</td>
                                <td>Red Bull</td>
                            </tr>
                            <tr>
                                <td>05/05</td>
                                <td><img alt="Гран При США" height="16" src="//cdn.f1ne.ws/userfiles/USA(1).gif" title="Гран При США" width="26"></td>
                                <td>Майами *</td>
                                <td>Майами</td>
                                <td>5412 м</td>
                                <td>57</td>
                                <td>308,326</td>
                                <td>Л.Норрис</td>
                                <td>McLaren</td>
                            </tr>
                            <tr>
                                <td>19/05</td>
                                <td><img alt="Гран При Италии" border="0" height="16" src="//cdn.f1ne.ws/userfiles/ITA.gif" title="Гран При Италии" width="26"></td>
                                <td>Эмилия-Романья</td>
                                <td>Имола</td>
                                <td>4909 м</td>
                                <td>63</td>
                                <td>309.049</td>
                                <td>М.Ферстаппен</td>
                                <td>Red Bull</td>
                            </tr>
                            <tr>
                                <td>26/05</td>
                                <td><img alt="Гран При Монако" border="0" height="16" src="//cdn.f1ne.ws/userfiles/MON.gif" title="Гран При Монако" width="26"></td>
                                <td>Монако</td>
                                <td>Монако</td>
                                <td>3337 м</td>
                                <td>78</td>
                                <td>260.286</td>
                                <td>Ш.Леклер</td>
                                <td>Ferrari</td>
                            </tr>
                            <tr>
                                <td>09/06</td>
                                <td><img alt="" height="16" src="//cdn.f1ne.ws/userfiles/CAN.gif" title="" width="26"></td>
                                <td>Канада</td>
                                <td>Монреаль</td>
                                <td>4361 м</td>
                                <td>70</td>
                                <td>305.270</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>23/06</td>
                                <td><img alt="Гран При Испании" border="0" height="16" src="//cdn.f1ne.ws/userfiles/ESP.gif" title="Гран При Испании" width="26"></td>
                                <td>Испания</td>
                                <td>Барселона</td>
                                <td>4657 м</td>
                                <td>66</td>
                                <td>307.362</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>30/06</td>
                                <td><img alt="Гран При Австрии" border="0" height="16" src="//cdn.f1ne.ws/userfiles/ATR.gif" title="Гран При Австрии" width="26"></td>
                                <td>Австрия *</td>
                                <td>Шпильберг</td>
                                <td>4318 м</td>
                                <td>71</td>
                                <td>306.452</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>07/07</td>
                                <td><img alt="Гран При Великобритании" border="0" height="16" src="//cdn.f1ne.ws/userfiles/GBR.gif" title="Гран При Великобритании" width="26"></td>
                                <td>Великобритания</td>
                                <td>Сильверстоун</td>
                                <td>5891 м</td>
                                <td>52</td>
                                <td>306.198</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>21/07</td>
                                <td><img alt="Гран При Венгрии" border="0" height="16" src="//cdn.f1ne.ws/userfiles/HUN(1).gif" title="Гран При Венгрии" width="26"></td>
                                <td>Венгрия</td>
                                <td>Хунгароринг</td>
                                <td>4381 м</td>
                                <td>70</td>
                                <td>306.630</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>28/07</td>
                                <td><img alt="Гран При Бельгии" border="0" height="16" src="//cdn.f1ne.ws/userfiles/BEL.gif" title="Гран При Бельгии" width="26"></td>
                                <td>Бельгия</td>
                                <td>Спа</td>
                                <td>7004 м</td>
                                <td>44</td>
                                <td>308.052</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>25/08</td>
                                <td><img alt="" height="16" src="//cdn.f1ne.ws/userfiles/NDL.gif" title="" width="26"></td>
                                <td>Нидерланды</td>
                                <td>Зандфорт</td>
                                <td>4259 м</td>
                                <td>72</td>
                                <td>306.587</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>01/09</td>
                                <td><img alt="Гран При Италии" border="0" height="16" src="//cdn.f1ne.ws/userfiles/ITA.gif" title="Гран При Италии" width="26"></td>
                                <td>Италия</td>
                                <td>Монца</td>
                                <td>5793 м</td>
                                <td>53</td>
                                <td>306.720</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>15/09</td>
                                <td><img alt="Гран При Азербайджана" height="16" src="//cdn.f1ne.ws/userfiles/AZB(2).gif" title="Гран При Азербайджана" width="26"></td>
                                <td>Азербайджан</td>
                                <td>Баку</td>
                                <td>6003 м</td>
                                <td>51</td>
                                <td>306.049</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>22/09</td>
                                <td><img alt="" height="16" src="//cdn.f1ne.ws/userfiles/SGP.gif" title="" width="26"></td>
                                <td>Сингапур</td>
                                <td>Марина-Бэй</td>
                                <td>4940 м</td>
                                <td>62</td>
                                <td>306,143</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr class="lineOne" onmouseout="this.className='lineOne';" onmouseover="this.className='lineSelected';">
                                <td>20/10</td>
                                <td><img alt="Гран При США" height="16" src="//cdn.f1ne.ws/userfiles/USA(1).gif" title="Гран При США" width="26"></td>
                                <td>США *</td>
                                <td>Остин</td>
                                <td>5513 м</td>
                                <td>56</td>
                                <td>308.405</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>27/10</td>
                                <td><img alt="Гран При Мексики" height="16" src="//cdn.f1ne.ws/userfiles/MEX(2).gif" title="Гран При Мексики" width="26"></td>
                                <td>Мехико</td>
                                <td>Мехико</td>
                                <td>4304 м</td>
                                <td>71</td>
                                <td>305.354</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr class="lineOne" onmouseout="this.className='lineOne';" onmouseover="this.className='lineSelected';">
                                <td>&nbsp;03/11</td>
                                <td><img alt="Гран При Бразилии" border="0" height="16" src="//cdn.f1ne.ws/userfiles/BRA.gif" title="Гран При Бразилии" width="26"></td>
                                <td>Сан-Паулу *</td>
                                <td>Сан-Паулу</td>
                                <td>4309 м</td>
                                <td>71</td>
                                <td>305.879</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>23/11</td>
                                <td><img alt="Гран При США" height="16" src="//cdn.f1ne.ws/userfiles/USA(1).gif" title="Гран При США" width="26"></td>
                                <td>Лас-Вегас</td>
                                <td>Лас-Вегас</td>
                                <td>6201 м</td>
                                <td>50</td>
                                <td>310.050</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>&nbsp;01/12</td>
                                <td><img alt="Флаг Катара" height="16" src="//cdn.f1ne.ws/userfiles/qatar.png" title="Флаг Катара" width="26"></td>
                                <td>Катар *</td>
                                <td>Лосаил</td>
                                <td>5419 м</td>
                                <td>57</td>
                                <td>308.611</td>
                                <td align="left">-</td>
                                <td align="left">-</td>
                            </tr>
                            <tr>
                                <td>&nbsp;08/12</td>
                                <td><img alt="Гран При Абу-Даби" border="0" height="16" src="//cdn.f1ne.ws/userfiles/UAE.gif" title="Гран При Абу-Даби" width="26"></td>
                                <td>Абу-Даби</td>
                                <td>Яс-Марина</td>
                                <td>5281 м</td>
                                <td>58</td>
                                <td>306.183</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>
                        <p>
                            * этап с субботним спринтом
                        </p>
                    </div>
                </div>

                <!-- ВАЖНЫЕ НОВОСТИ-->
                <div class="content-important col-4">
                    <h4>Важные новости</h4>
                    <% for (let i = 0; i < importantPosts.length; i++) {%>
                    <div class="important row">
                        <a href="post/<%=importantPosts[i].id%>">
                            <%=importantPosts[i].title%>
                        </a>
                    </div>
                    <%} %>
                </div>
            </div>
        </div>
    </div>

    <!-- ФУТЕР -->
    <%- include(footer)%>
</body>

</html>