<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/error.css" type="text/css">
    <title>404</title>
</head>

<body>
<!-- ХЕДЕР -->

<!-- ОСНОВНАЯ ЧАСТЬ САЙТА -->
<div class="main-fluid container-fluid">
    <div class="main-container container">
        <div class="content row">

            <div class="left-space col-4">
            </div>

            <div class="error-container col-4">

                <h4>Искомая страница не найдена</h4>
                <a href="/">
                    <button>На главную</button>
                </a>

            </div>

            <div class="right-space col-4">
            </div>
        </div>
    </div>
</div>


<!-- ФУТЕР -->

</body>

</html>