<header class="header-fluid container-fluid">
    <div class="header-container container">
        <div class="header row">
            <div class="header-icon col-2">
                <h3><a href="/">Автоспорт</a></h3>
            </div>
            <div class="header-menu col-10">
                <ul>
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="/calendar">Календарь</a>
                    </li>
                    <li>
                        <a href="/teams">Команды</a>
                    </li>
                    <li>
                        <a href="/auth">Войти</a>
                    </li>
<!--                    <li>-->
<!--                        <a href='/admin'>Админ панель</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href='/logout'>Выйти</a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</header>